@import '@/styles/functions';

.keyboard {
    display: flex;
    flex-wrap: wrap;
    padding-top: toRem(24);
    max-width: toRem(320);
}

.btnWrap {
    width: 33.33% !important;
    height: toRem(44);
    border-radius: toRem(4);
    border: none;
}

.btnWrapInner {
    display: flex;
    flex-direction: column;
}