@import '@/styles/mixins.scss';
@import '@/styles/variables';
@import '@/styles/functions';

.children {
    padding-top: toRem(48);

    @include tablet {
        padding-top: toRem(64);
    }
}

.logo {
    @include font-size(20);

    @include tablet {
        @include font-size(24);
    }
}