@import '@/styles/functions';
@import '@/styles/mixins';
@import '@/styles/variables';

.content {
	padding-top: toRem(16);
	width: 100%;
}

.count {
	padding-bottom: toRem(8);
}

.list {
	ul {
		flex-direction: row;
		flex-wrap: wrap;

		li {
			flex-basis: 50%;

			@include tablet {
				flex-basis: 25%;
			}
		}
	}
}

.noResults {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: toRem(8) 0;
}

.noResultsText {
	padding-top: toRem(16);
}

.placeholders {
	display: flex;
	flex-wrap: wrap;
	padding-top: toRem(8);
}

.placeholder {
	height: toRem(32);
	background-color: $placeholder;
	margin-bottom: toRem(8);
	border-radius: toRem(4);
	flex-basis: calc(50% - 12px);
	margin-left: toRem(12);

	&:nth-child(odd) {
		margin-left: 0;
		margin-right: toRem(12);
	}
}
