@import '@/styles/functions';

.content {
    height: toRem(64);
    display: flex;
    justify-content: center;
    padding-top: toRem(24);
}

.text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.heart {
    width: toRem(32);
    margin: 0 toRem(4);
}