@import '@/styles/mixins';
@import '@/styles/functions';

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: toRem(16);
}

.wrapper {
    text-align: center;
}

.info {
    padding: toRem(16) 0;
    @include font-size(28);
}