@import '@/styles/mixins.scss';
@import '@/styles/variables';
@import '@/styles/functions';

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: toRem(24) toRem(16);

    @include tablet {
        max-width: $tablet;
        margin: 0 auto;
    }
}