@import '@/styles/mixins.scss';
@import '@/styles/variables';
@import '@/styles/functions';

.content {
    padding: toRem(24) toRem(16);
    text-align: center;

    @include tablet {
        max-width: $tablet;
        margin: 0 auto;
    }
}

.list {
    text-align: left;
    max-width: toRem(400);
    margin: 0 auto;
    padding-top: toRem(16);
}

.item {
    padding-bottom: toRem(16);
}

.valueWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info {
    display: flex;
    align-items: center;
}

.dateWrap {
    display: flex;
    align-items: center;
    padding-right: toRem(8);
}

.date {
    padding-right: toRem(4);
}

.actions {
    display: flex;
    align-items: center;
}

.removeBtn {
    padding-left: toRem(8);
}

.noResults {
    padding: toRem(16) 0;
}