@use 'sass:math';
@import './variables';

/**
* MIXINS
*/

@mixin font-size($size) {
	font-size: math.div($size, 16) * 1rem;
}

@mixin mobile-medium {
	@media screen and (min-width: $mediumMobile) {
		@content;
	}
}

@mixin tablet {
	@media screen and (min-width: $tablet) {
		@content;
	}
}

@mixin desktop {
	@media screen and (min-width: $desktop) {
		@content;
	}
}

@mixin toRem($property, $value) {
    #{$property}: math.div($value, 16) * 1rem;
}
